@{
    ViewData["Title"] = "About";
}
<h2 class="text-center"><strong>About Us</strong></h2>
<br />

<div>
    <img class="img-responsive" src="~/images/others/banner04.jpeg" /><br /><br />

    <p>
        <strong>OUR HERITAGE</strong><br /><br />

        1973. NEW ZEALAND.<br /><br />

        Bruce McIntyre started making packs in his parents’ Christchurch garage under the name QualityCaps.
        He simply wanted to make better backpacks that were practical, authentic and technical which
        would last the distance in New Zealand’s rugged, unforgiving terrain. Quality was paramount.

        <br /><br /><br />
        <strong>2014. NEW ZEALAND.</strong><br /><br />

        Still based in our hometown of Christchurch; QualityCaps has developed into one of the world’s
        most trusted and respected outdoor brands, sold in more than 30 countries around the globe. We may have grown up a little but we are still passionate about the values Bruce established more than 40 years ago. We are the authentic, technical clothing and equipment brand for anyone who wants to enjoy the outdoors, whether it’s commuting in the city, walking the dog in the park, exploring the trails in the forest, travelling the globe, or scaling the world’s highest peaks. From the city to the mountains and everywhere in between.

        <br /><br /><br /><br /><br /><br />

    </p>
</div>
