<h2 class="text-center">Contact Us</h2>
<br/><br />
     <div class="contact">



         <h3>
             <img width="430" src="~/images/others/contact.png" alt="" class="pull-right" />

             <strong>Address:</strong><br />
             Building 183<br /> 139 Carrington Road<br />Mt Albert, Auckland<br /> New Zealand

             <br />
             <br />
             <br />
             <strong>Phone:</strong><br />
             (09)-145 8743
             <br />
             <br />
             <br />
             <strong>Email:</strong><br />
             support@quanlitycaps.co.nz
         </h3>
         <br /><br /><br /><br />
     </div>
