@{
    ViewData["Title"] = "Help";
}
<h2 class="text-center"><strong>Help Info</strong></h2>
<br />

<div>
    <p>
        <strong>Introduction </strong><br />
        This is a website which create by C# and ASP.NET Core 2.0 use Visual Studio Enterprise 2017.
        <br /><br />

    </p>
    <p>
        <strong>Embeddede account for login </strong><br />
        Admin account: admin@qualitycaps.com <br />
        Guest account: guest@qualitycaps.com<br /><br />

        Admin account can use management tools to manage caps, categories, suppliers and orders information (include create, edit, update, delete).

        <br />
        With admin account user can desable or enable an user account and change orders' status(shipped or waiting).
        <br />
        With guest account user can browse caps, add products to the shopping cart and place order.
        <br /><br />

    </p>

    <p>
        <strong>Website functionality</strong><br /><br />
        1. Register a customer account, to login new register account you have to confirm you email address.<br />
        2. Admin and customer login.<br />
        3. Manage category, cap, supplier item (create, edit, update, detail, delete).<br />
        4. Change order status.<br />
        5. Enable or disable a user account.<br />
        6. Place order.<br />
        7. Check out or clear cart.<br />s
        8. Search caps by name or price.


        <br /><br /><br /><br /><br /><br />

    </p>
</div>
